<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Classroom Central</title>
		<!--bootstrap-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!--jQuery-->
		<script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
		<!--bootsrtap js-->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!--app js-->
		<script type="text/javascript" src="/app.js"></script>
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/styles/app.css">
		{{!-- fonts --}}
		<link href="https://fonts.googleapis.com/css?family=Schoolbell" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
      
		
	</head>
    <body>
            
        <div class="page-header mainhead">
            <div class="row" style="width: 100%">

                <span class="col-md-9"><img id='pichead' src="/images/Classroom-Image.png" alt="Classrom"></span>
                <span class="col-md-1 col-md-offset-2"><a href="/logout"><button type="button" id="logout"class="btn btn-primary">Log Out</button></a></span>
            </div>
        </div> 

         <div id="wrapper">

         <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <div id="userin">
                        Welcome {{username}}
                    </div>
                </li>
				{{#if isTeacher}}
                <li>
                    <a href="" id='listname'>Manage Students</a>
                </li>
                <li>
                    <a href="" id='listname'>Add Homework</a>
                </li>
				{{/if}}
                <li>
                    <a href="https://parentaccess.ocps.net/General/LoginPage.aspx?DistrictID=31" id='listname'>Check Grades</a>
                </li>
                <li>
                    <a href="https://www.ocps.net/es/cr/resources/Pages/default.aspx" id='listname'>Volunteer</a>
                </li>
                <li>
                    <a href="https://www.ocps.net/lc/southeast/eln/Pages/default.aspx" id='listname'>School Home Page</a>
                </li>
                <li>
                    <a href="https://www.ocps.net/parents/Pages/default.aspx" id='listname'>Additional Resources</a>
                </li>
                <li>
                    <a href="mailto:matthew.gusmano@gmail.com" id='listname'>Contact</a>
                </li>
            </ul>
        </div>

        {{!-- Main Content --}}
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <!-- Teacher Content relating to homework and Upcoming Events -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Homework for this week</h1>
                        <p>Upcoming Events to put on your calender</p>
                    </div>
                </div>
                {{!-- Messaging Portion --}}
                <div class="row">
                    <div class="col-lg-12">
						<form>
						  <div class="form-group">
						    <label for="formGroupExampleInput">Post your questions or concerns</label>
						    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Post away :)">
						  
  						
						  </div>
						</form> 
<button class="btn btn-default" id="makePost">Post a Comment</button>

				    </div>
                </div> 

                {{!-- Receive Posts --}}
                <div class="row">
                    <div class="col-lg-12">
					



                    </div>
                </div>

            </div>
        </div>
        <!-- /#page-content-wrapper -->

        </div>







        {{!-- User Post Modal --}}
        	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="postModal">
		<div class="modal-dialog modal-sm">
    		<div class="modal-content">
    			<div class="modal-header">
      				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      				<h1 class="modal-title">Classroom Central</h1>
      			</div>
      			<div class="modal-body">
        			<form id="postForm">
  						<div class="form-group">
    						<label for="search">Please share your thoughts with the class</label>
    						<input type="text" class="form-control" id="postMain" placeholder="">
 						</div>
  						<button class="btn btn-default" id="postSubmit">Submit</button>




					</form>
      			</div>
			</div>
  		</div>
	</div>

    
    </body>
</html>











