<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Classroom Central</title>
		<!--bootstrap-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!--jQuery-->
		<script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
		<!--bootsrtap js-->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!--app js-->
		<script type="text/javascript" src="/app.js"></script>
		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/styles/app.css">
		{{!-- fonts --}}
		<link href="https://fonts.googleapis.com/css?family=Schoolbell" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
      
		
	</head>
    <body>
            
        <div class="page-header mainhead">
            <div class="row" style="width: 100%">

                <span class="col-md-9"><img id='pichead' src="/images/Classroom-Image.png" alt="Classrom"></span>
                <span class="col-md-1 col-md-offset-2"><a href="/logout"><button type="button" id="logout"class="btn btn-primary">Log Out</button></a></span>
            </div>
        </div> 

         <div id="wrapper">

         <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <div id="userin">
                        Welcome {{nameuse}}
                    </div>
                </li>
                <li>
                    <a href="/userpage" id='listname'>Home</a>
                </li>                
				{{#if isTeacher}}
                <li>
                    <a href="/managestudents" id='listname'>Manage Families</a>
                </li>
                <li>
                    <a href="/homework" id='listname'>Add Homework/Events</a>
                </li>
				{{/if}}
                <li>
                    <a href="https://parentaccess.ocps.net/General/LoginPage.aspx?DistrictID=31" id='listname'>Check Grades</a>
                </li>
                <li>
                    <a href="https://www.ocps.net/es/cr/resources/Pages/default.aspx" id='listname'>Volunteer</a>
                </li>
                <li>
                    <a href="https://www.ocps.net/lc/southeast/eln/Pages/default.aspx" id='listname'>School Home Page</a>
                </li>
                <li>
                    <a href="https://www.ocps.net/parents/Pages/default.aspx" id='listname'>Additional Resources</a>
                </li>
                <li>
                    <a href="mailto:{{email}}"  id='listname'>Contact Teacher</a>
                </li>
            </ul>
        </div>

        {{{body}}}
    
    </body>
</html>











