               
			<div class="reusable-padding">
               <br>
                <div class="row">
                    <div class="col-lg-8">
						<form id="moveright">
						  <div class="form-group">
						    <label for="formGroupExampleInput">Add Homework Assignments</label>
						    <input type="text" class="form-control" id="postHomework" method="post" placeholder="">
						  </div>
                          <button class="btn btn-default" id="makePostone">Submit</button>
						</form> 
					</div>
				</div>
				<br>

                <div class="row">
                    <div class="col-lg-12">
						<form id="moveright">
						  <div class="form-group">
						    <label for="formGroupExampleInput">Add Upcoming Events</label>
						    <input type="text" class="form-control" id="postEvents" method="post" placeholder="">
						  </div>
                          <button class="btn btn-default" id="makePosttwo">Submit</button>
						</form> 
					</div>
				</div>
				<br>
			                <div class="row check">
                    <div class="col-lg-12">
                    <h1 id="homeworkstyle">Homework for the Week</h1>
                        <ul class="list-group groupchange">
                        {{#each homework}}
                        <li class="list-group-item homeout">{{text}}<button class="dHome" data-id={{hm_id}}>Delete</button></li>
                        <br>
                        {{/each}}
                        </ul>
                   		 <h1 id="homeworkstyle">Upcoming Events></h1>
                        <ul class="list-group groupchange">
                        {{#each events}}
                        <li class="list-group-item eventout">{{text}}<button class="dEvent" data-id={{ev_id}}>Delete</button></li>
                        <br>
                        {{/each}}
                        </ul>
                    </div>
                </div>
			</div>

