{{!-- Main Content --}}
        <div class="reusable-padding">
            <div class="container-fluid">
                <!-- Teacher Content relating to homework and Upcoming Events -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Homework for this week</h1>
                        <p>Upcoming Events to put on your calender</p>
                    </div>
                </div>
                {{!-- Messaging Portion --}}
                <div class="row">
                    <div class="col-lg-12">
						<form>
						  <div class="form-group">
						    <label for="formGroupExampleInput">Post your questions or concerns</label>
{{!-- 						    <input type="text" class="form-control" id="postMaiz"   
                placeholder="Post away :)"> --}}
						  </div>
                 <button class="btn btn-default" id="makePost">Post a Comment</button>
						</form> 


				    </div>
                </div> 

                {{!-- Receive Posts --}}
                <div class="row">
                    <div class="col-lg-12">
					          <table id="postTable">
                    {{#each posts}}
                    <tr class="tr">
                    <td class="td">Post from: {{usernameP}}</td>
                    <td class="td">{{text}} <button id="dPost">delete</button></td>
                    </tr>
                    {{/each}}
                    </table>


                    </div>
                </div>

            </div>
        </div>
        <!-- /#page-content-wrapper -->

        </div>


        {{!-- User Post Modal --}}
        	<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="postModal">
		<div class="modal-dialog modal-sm">
    		<div class="modal-content">
    			<div class="modal-header">
      				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      				<h1 class="modal-title">Classroom Central</h1>
      			</div>
      			<div class="modal-body">
        			<form id="postForm">
  						<div class="form-group">
    						<label for="search">Please share your thoughts with the class</label>
    						<input type="text" class="form-control" id="postMain" placeholder="">
 						</div>
  						<button class="btn btn-default" id="postSubmit">Submit</button>

					</form>
      			</div>
			</div>
  		</div>
	</div>

 










{{!--  method="post" action="/addPost" --}}
