

.colorMain {
	background-image: url('http://www.dreamtemplate.com/dreamcodes/bg_images/color/c5.jpg');
	
}

#message1 {
	font-size: 18px;
	
}

/*.stretch {
	margin-top: 10%;
	margin-bottom: 10%;
	max-width: 50%;
}*/

