.colorMain {
  background-image: url("http://www.dreamtemplate.com/dreamcodes/bg_images/color/c5.jpg"); }

#message1 {
  font-size: 18px; }

.loginstyle {
  font-family: 'Fredericka the Great', cursive; }

#submitUser {
  display: inline-block;
  margin-right: 1em; }

body {
  overflow-x: hidden; }

.imggg {
  background-image: url("/images/img3.png"); }

#pichead {
  max-height: 10%;
  max-width: 10%;
  margin-left: 15px; }

#logout {
  right: 15px;
  margin-top: 1em; }

.mainhead {
  margin-top: 0px;
  margin-bottom: 0px;
  position: fixed;
  z-index: 1;
  background-color: #15b87a; }

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%; }

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px; }

/*tr:nth-child(even) {
    background-color: #7FABB5;
}*/
#homeworkstyle {
  font-family: 'Schoolbell', cursive;
  font-size: 30px;
  color: white; }

.homeout {
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  font-size: 17px;
  background-color: #e3b57b; }

.eventout {
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  font-size: 17px;
  background-color: #ccffcc; }

.groupchange {
  width: 50%; }

#makepost {
  size: 10%;
  background: #15b87a; }

.btn-success {
  background: #15b87a; }

#postlabel {
  font-size: 23px;
  color: white; }

#moveright {
  margin-left: 10px; }

#postEvents {
  width: 400px; }

#postHomework {
  width: 400px; }

.dPost {
  background-color: tan;
  font-family: 'Libre Baskerville', serif;
  font-size: 10px;
  float: right; }

.td2 {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-family: 'Francois One', sans-serif;
  font-size: 17px;
  color: white; }

.dUser {
  background-color: tan;
  font-family: 'Libre Baskerville', serif;
  font-size: 10px;
  float: right; }

.dHome {
  background-color: #F56049;
  font-family: 'Libre Baskerville', serif;
  font-size: 10px;
  float: right; }

.dEvent {
  background-color: #F56049;
  font-family: 'Libre Baskerville', serif;
  font-size: 10px;
  float: right; }

.glyphicon-chevron-down {
  font-size: 23px; }

.check {
  margin-left: 0px; }

.modal-header {
  background: #15b87a;
  font-family: 'Fredericka the Great', cursive; }

#postSubmit {
  background: #15b87a; }

#submitUser {
  font-size: 13px; }

/* Sidebar Toggles */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled {
  padding-left: 250px; }

#sidebar-wrapper {
  position: fixed;
  top: 57px;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #15b87a;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled #sidebar-wrapper {
  width: 250px; }

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px; }

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px; }

/* Sidebar Styles */
#listname {
  font-family: 'Roboto Slab', serif; }

#userin {
  font-size: 25px;
  font-family: 'Schoolbell', cursive; }

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px; }

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #000; }

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2); }

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px; }

.sidebar-nav > .sidebar-brand a {
  color: #000; }

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none; }

.reusable-padding {
  padding-top: 6em; }

/*Page Resize*/
@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px; }
  #wrapper.toggled {
    padding-left: 0; }
  #sidebar-wrapper {
    width: 250px; }
  #wrapper.toggled #sidebar-wrapper {
    width: 0; }
  #page-content-wrapper {
    padding: 20px;
    position: relative; }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0; } }
